/*reset*/
* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box; }

/* estilo del body */
.body {
  background-color: #dff6ff;
  font-family: Futura,sans-serif;
  color: #06283d; }

/*estilo de contact*/
.main {
  display: flex;
  justify-content: center; }
  .main .main__caja {
    margin: 8rem;
    width: 40rem;
    height: auto;
    border: 0.25rem solid #bad9e5; }
    .main .main__caja div {
      margin: 2rem; }

/* estilo de productos */
.contenedorpro {
  display: flex;
  flex-flow: column wrap; }

.contenedorpro__hijo {
  padding: 1rem 0rem;
  margin: 0rem 1rem;
  width: auto;
  text-align: center;
  border: 0.3rem solid #bad9e5;
  overflow: auto;
  transition: 1s;
  margin-top: 2rem; }
  .contenedorpro__hijo h2 {
    padding: 1rem; }
  .contenedorpro__hijo p {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 1rem; }
  .contenedorpro__hijo:hover {
    transform: scale(1.08); }
  .contenedorpro__hijo img {
    width: 66.6%;
    height: 12.5rem; }
  .contenedorpro__hijo span {
    padding: 0.5rem; }

/* estilos del nav */
.body header nav {
  background-color: #47b5ff;
  text-align: center;
  height: auto;
  text-transform: uppercase; }
  .body header nav .boton {
    background-color: #319fe7;
    width: 2rem;
    height: 1rem;
    border: 2px solid #0f496d; }
  .body header nav ul li {
    font-weight: bold;
    padding: 1rem;
    transition: 1s; }
    .body header nav ul li:hover {
      text-decoration: underline;
      transform: scale(1.2); }
    .body header nav ul li #a {
      color: #dff6ff; }
  .body header nav div a img {
    width: 8rem;
    height: 4rem; }

/* estilo del footer */
.footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  background-color: #06283d;
  padding: 1rem;
  margin-top: 1rem;
  color: white;
  gap: 0.6rem; }
  .footer .footer__subt {
    font-size: 1.5rem;
    font-weight: bold; }
  .footer div {
    margin-bottom: 1rem; }
    .footer div a {
      margin: 0.5rem; }

/* estilos del h1 */
.body main p {
  line-height: 2rem;
  font-size: 1.125rem; }

.body main #h1 {
  font-size: 3rem;
  text-decoration: underline #319fe7;
  font-family: Tiemann,serif; }

.body main #h2 {
  font-size: 2.3rem;
  text-decoration: underline #319fe7;
  font-family: Tiemann,serif; }

.body main #h3 {
  margin-top: 2rem;
  text-decoration: underline #319fe7;
  font-family: Tiemann,serif; }

/*estilos del index*/
.contenedorindex__logo {
  display: none; }

.mainindex {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .mainindex .mainindex__sec1 {
    position: absolute;
    top: 5.6rem;
    left: 0;
    z-index: 1;
    width: 100%; }
    .mainindex .mainindex__sec1 .mainindex__sec1__video {
      width: 100%; }
  .mainindex .mainindex__sec2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
    height: 40rem;
    margin-bottom: 6rem; }
    .mainindex .mainindex__sec2 p {
      background: -webkit-linear-gradient(#dff6ff, white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1.25rem; }
  .mainindex .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo {
    padding: 1rem 0rem;
    margin: 0rem 1rem;
    width: auto;
    text-align: center;
    border: 0.3rem solid #bad9e5;
    border-radius: 0.5rem;
    overflow: auto;
    transition: 1s;
    margin-top: 2rem; }
    .mainindex .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo h2 {
      padding: 1rem;
      text-align: center; }
    .mainindex .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo p {
      font-weight: bold;
      font-size: 1.5rem;
      padding-bottom: 1rem; }
      .mainindex .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo p .s1 {
        text-decoration: line-through;
        opacity: 50%; }
    .mainindex .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo:hover {
      transform: scale(1.08); }
    .mainindex .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo img {
      width: 66.6%;
      height: 12.5rem; }
    .mainindex .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo span {
      padding: 0.5rem; }
  .mainindex .mainindex__sec3 .mainindex__sec3__contenedorpro {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap; }
  .mainindex .mainindex__sec3 .mainindex__sec3__boton {
    display: flex;
    justify-content: center;
    margin-top: 2.4rem;
    font-size: 1.5rem;
    transition: 1s;
    margin-bottom: -3rem; }
    .mainindex .mainindex__sec3 .mainindex__sec3__boton button {
      border: 0.3rem solid #06283d;
      border-radius: 0.5rem;
      transition: 1s; }
      .mainindex .mainindex__sec3 .mainindex__sec3__boton button:hover {
        transform: scale(1.08); }
    .mainindex .mainindex__sec3 .mainindex__sec3__boton a {
      display: inline-block;
      padding: 1rem;
      text-decoration: none;
      color: #06283d;
      letter-spacing: 0.15rem;
      font-weight: bold;
      border: 0.3rem solid #bad9e5; }
  .mainindex .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo {
    width: 33.3%; }
  .mainindex .mainindex__sec4 {
    margin-top: 6rem;
    display: grid;
    width: 100%;
    grid-template-columns: 38% 24% 38%;
    row-gap: 10rem;
    grid-template-areas: "h2 h2 h2" "img ph3 b" "b2 ph32 img2" "img3 ph33 b3"; }
    .mainindex .mainindex__sec4 h2 {
      grid-area: h2;
      text-align: center; }
    .mainindex .mainindex__sec4 .mainindex__sec4__img {
      grid-area: img;
      display: flex;
      justify-content: center;
      height: 18rem; }
      .mainindex .mainindex__sec4 .mainindex__sec4__img img {
        width: 90%;
        height: 18rem; }
    .mainindex .mainindex__sec4 .mainindex__sec4__img2 {
      grid-area: img2;
      display: flex;
      justify-content: center;
      height: 18rem; }
      .mainindex .mainindex__sec4 .mainindex__sec4__img2 img {
        width: 90%;
        height: 18rem; }
    .mainindex .mainindex__sec4 .mainindex__sec4__img3 {
      grid-area: img3;
      display: flex;
      justify-content: center;
      height: 18rem; }
      .mainindex .mainindex__sec4 .mainindex__sec4__img3 img {
        width: 90%;
        height: 18rem; }
    .mainindex .mainindex__sec4 .mainindex__sec4__ph3 {
      grid-area: ph3;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .mainindex .mainindex__sec4 .mainindex__sec4__ph3 p {
        text-align: left; }
      .mainindex .mainindex__sec4 .mainindex__sec4__ph3 h3 {
        text-align: left;
        width: 90%;
        padding-right: 1rem; }
    .mainindex .mainindex__sec4 .mainindex__sec4__ph32 {
      grid-area: ph32;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .mainindex .mainindex__sec4 .mainindex__sec4__ph32 p {
        text-align: right; }
      .mainindex .mainindex__sec4 .mainindex__sec4__ph32 h3 {
        text-align: right; }
    .mainindex .mainindex__sec4 .mainindex__sec4__phr33 {
      grid-area: ph33;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .mainindex .mainindex__sec4 .mainindex__sec4__phr33 p {
        text-align: left; }
      .mainindex .mainindex__sec4 .mainindex__sec4__phr33 h3 {
        text-align: left; }
    .mainindex .mainindex__sec4 .b {
      grid-area: b; }
    .mainindex .mainindex__sec4 .b2 {
      grid-area: b2; }
    .mainindex .mainindex__sec4 .b3 {
      grid-area: b3; }

/*estilos de nos*/
.contenedornos {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .contenedornos .contenedornos__p2 {
    padding: 1rem;
    text-align: center; }
  .contenedornos .contenedornos__img {
    padding: 1rem;
    width: auto;
    height: 25rem; }
  .contenedornos .contenedornos__div__h1 {
    font-size: 2rem;
    padding: 1rem; }
  .contenedornos .contenedornos__div__p1 {
    display: none; }

/* estilos de la mediaquerie */
@media screen and (min-width: 600px) {
  /* estilos de sedes*/
  /* estilos de Productos de mediaquerie*/
  .contenedorpro {
    justify-content: center;
    flex-flow: row nowrap; }
  .contenedorpro__hijo {
    width: 33.3%; }
  /* estilos del h1 */
  .body main h1 {
    font-size: 2.5rem; }
  /*estilos del nav*/
  #a {
    font-size: 1rem; }
  .body header nav {
    height: 5.8rem; }
  /*estilos de index*/
  /*estilos de nos*/
  .contenedornos {
    flex-direction: row-reverse;
    margin: 2rem; }
    .contenedornos .contenedornos__div {
      padding: 1rem;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-bottom: 2rem; }
    .contenedornos .contenedornos__div__h1 {
      padding-top: 3.4rem;
      font-size: 2.5rem; }
    .contenedornos .contenedornos__div__p1 {
      display: inline; } }
