@media screen and (min-width: 576px) {
  .mainindex__sec4 .mainindex__sec4__div1, .mainindex__sec4 .mainindex__sec4__div2, .mainindex__sec4 .mainindex__sec4__div3 {
    row-gap: 1rem;
    margin-bottom: 2rem;
    column-gap: 1rem; }
    .mainindex__sec4 .mainindex__sec4__div1 p, .mainindex__sec4 .mainindex__sec4__div2 p, .mainindex__sec4 .mainindex__sec4__div3 p {
      grid-area: p; }
    .mainindex__sec4 .mainindex__sec4__div1 h3, .mainindex__sec4 .mainindex__sec4__div2 h3, .mainindex__sec4 .mainindex__sec4__div3 h3 {
      grid-area: h2;
      padding-top: 2rem; }
    .mainindex__sec4 .mainindex__sec4__div1 img, .mainindex__sec4 .mainindex__sec4__div2 img, .mainindex__sec4 .mainindex__sec4__div3 img {
      width: 100%;
      height: 18rem;
      grid-area: img; }
    .mainindex__sec4 .mainindex__sec4__div1 div, .mainindex__sec4 .mainindex__sec4__div2 div, .mainindex__sec4 .mainindex__sec4__div3 div {
      grid-area: b; }
  .mainindex__sec4m {
    display: none; } }

.body header nav .desk li, .body header nav .buscbot .buscbot__phone li {
  font-weight: bold;
  padding: 0.5rem;
  transition: 1s; }
  .body header nav .desk li:hover, .body header nav .buscbot .buscbot__phone li:hover {
    text-decoration: underline;
    transform: scale(1.2); }
  .body header nav .desk li #a, .body header nav .buscbot .buscbot__phone li #a {
    color: #dff6ff; }
    .body header nav .desk li #a img, .body header nav .buscbot .buscbot__phone li #a img {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem; }

.mainindex .mainindex__sec4 .mainindex__sec4__boton button, .mainindex__sec3 .mainindex__sec3__boton button, .mainindex__sec4m .mainindex__sec4m__boton button, .main .main__caja .main__caja__bot .reset, .main .main__caja .main__caja__bot .submit, .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo {
  border: 0.3rem solid #bad9e5;
  border-radius: 0.5rem; }

.mainindex .mainindex__sec4 .mainindex__sec4__boton, .mainindex__sec3 .mainindex__sec3__boton, .mainindex__sec4m .mainindex__sec4m__boton {
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;
  font-size: 1.5rem;
  transition: 1s;
  margin-bottom: 2rem; }
  .mainindex .mainindex__sec4 .mainindex__sec4__boton button, .mainindex__sec3 .mainindex__sec3__boton button, .mainindex__sec4m .mainindex__sec4m__boton button {
    border: 0.3rem solid #06283d;
    background-color: #dff6ff;
    transition: 1s; }
    .mainindex .mainindex__sec4 .mainindex__sec4__boton button:hover, .mainindex__sec3 .mainindex__sec3__boton button:hover, .mainindex__sec4m .mainindex__sec4m__boton button:hover {
      transform: scale(1.08); }
  .mainindex .mainindex__sec4 .mainindex__sec4__boton a, .mainindex__sec3 .mainindex__sec3__boton a, .mainindex__sec4m .mainindex__sec4m__boton a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #06283d;
    letter-spacing: 0.15rem;
    font-weight: bold;
    border: 0.3rem solid #bad9e5; }

.mainindex .mainindex__sec4 {
  display: none; }

.main .main__caja .main__caja__bot .reset, .main .main__caja .main__caja__bot .submit {
  background-color: #bad9e5;
  transition: 1s;
  font-family: Tiemann, serif;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  height: 2.25rem; }
  .main .main__caja .main__caja__bot .reset:hover, .main .main__caja .main__caja__bot .submit:hover {
    transform: scale(1.08); }

/*reset*/
* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box; }

/* estilo del body */
.body {
  background-color: #dff6ff;
  font-family: Futura,sans-serif;
  color: #06283d; }

@media screen and (min-width: 576px) {
  .mainindex__sec4 .mainindex__sec4__div1, .mainindex__sec4 .mainindex__sec4__div2, .mainindex__sec4 .mainindex__sec4__div3 {
    row-gap: 1rem;
    margin-bottom: 2rem;
    column-gap: 1rem; }
    .mainindex__sec4 .mainindex__sec4__div1 p, .mainindex__sec4 .mainindex__sec4__div2 p, .mainindex__sec4 .mainindex__sec4__div3 p {
      grid-area: p; }
    .mainindex__sec4 .mainindex__sec4__div1 h3, .mainindex__sec4 .mainindex__sec4__div2 h3, .mainindex__sec4 .mainindex__sec4__div3 h3 {
      grid-area: h2;
      padding-top: 2rem; }
    .mainindex__sec4 .mainindex__sec4__div1 img, .mainindex__sec4 .mainindex__sec4__div2 img, .mainindex__sec4 .mainindex__sec4__div3 img {
      width: 100%;
      height: 18rem;
      grid-area: img; }
    .mainindex__sec4 .mainindex__sec4__div1 div, .mainindex__sec4 .mainindex__sec4__div2 div, .mainindex__sec4 .mainindex__sec4__div3 div {
      grid-area: b; }
  .mainindex__sec4m {
    display: none; } }

.body header nav .desk li, .body header nav .buscbot .buscbot__phone li {
  font-weight: bold;
  padding: 0.5rem;
  transition: 1s; }
  .body header nav .desk li:hover, .body header nav .buscbot .buscbot__phone li:hover {
    text-decoration: underline;
    transform: scale(1.2); }
  .body header nav .desk li #a, .body header nav .buscbot .buscbot__phone li #a {
    color: #dff6ff; }
    .body header nav .desk li #a img, .body header nav .buscbot .buscbot__phone li #a img {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem; }

.mainindex .mainindex__sec4 .mainindex__sec4__boton button, .mainindex__sec3 .mainindex__sec3__boton button, .mainindex__sec4m .mainindex__sec4m__boton button, .main .main__caja .main__caja__bot .reset, .main .main__caja .main__caja__bot .submit, .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo {
  border: 0.3rem solid #bad9e5;
  border-radius: 0.5rem; }

.mainindex .mainindex__sec4 .mainindex__sec4__boton, .mainindex__sec3 .mainindex__sec3__boton, .mainindex__sec4m .mainindex__sec4m__boton {
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;
  font-size: 1.5rem;
  transition: 1s;
  margin-bottom: 2rem; }
  .mainindex .mainindex__sec4 .mainindex__sec4__boton button, .mainindex__sec3 .mainindex__sec3__boton button, .mainindex__sec4m .mainindex__sec4m__boton button {
    border: 0.3rem solid #06283d;
    background-color: #dff6ff;
    transition: 1s; }
    .mainindex .mainindex__sec4 .mainindex__sec4__boton button:hover, .mainindex__sec3 .mainindex__sec3__boton button:hover, .mainindex__sec4m .mainindex__sec4m__boton button:hover {
      transform: scale(1.08); }
  .mainindex .mainindex__sec4 .mainindex__sec4__boton a, .mainindex__sec3 .mainindex__sec3__boton a, .mainindex__sec4m .mainindex__sec4m__boton a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #06283d;
    letter-spacing: 0.15rem;
    font-weight: bold;
    border: 0.3rem solid #bad9e5; }

.mainindex .mainindex__sec4 {
  display: none; }

.main .main__caja .main__caja__bot .reset, .main .main__caja .main__caja__bot .submit {
  background-color: #bad9e5;
  transition: 1s;
  font-family: Tiemann, serif;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  height: 2.25rem; }
  .main .main__caja .main__caja__bot .reset:hover, .main .main__caja .main__caja__bot .submit:hover {
    transform: scale(1.08); }

/*estilo de contact*/
.main {
  display: flex;
  justify-content: center; }
  .main .main__caja {
    margin: 5rem;
    width: 40rem;
    height: auto;
    border: 0.25rem solid #bad9e5;
    border-radius: 0.5rem; }
    .main .main__caja h1 {
      padding: 1.5rem;
      font-size: 3rem;
      text-decoration: underline #319fe7;
      font-family: Tiemann, serif;
      text-align: center; }
    .main .main__caja div {
      margin: 2rem; }
      .main .main__caja div label {
        font-family: Tiemann, serif;
        font-size: 1.5rem;
        font-weight: 500; }
    .main .main__caja .main__caja__text input {
      height: 5rem; }
    .main .main__caja .main__caja__bot {
      width: 100%;
      display: grid;
      margin-left: 2%;
      row-gap: 1rem;
      grid-template-areas: "reset envia"; }
      .main .main__caja .main__caja__bot .reset {
        grid-area: reset; }
      .main .main__caja .main__caja__bot .submit {
        grid-area: envia;
        align-self: flex-end; }

/*estilos de las mediaqueries*/
@media screen and (min-width: 576px) {
  .main .main__caja {
    margin: 8rem; }
    .main .main__caja .main__caja__bot {
      margin-left: 12%; } }

@media screen and (min-width: 576px) {
  .mainindex__sec4 .mainindex__sec4__div1, .mainindex__sec4 .mainindex__sec4__div2, .mainindex__sec4 .mainindex__sec4__div3 {
    row-gap: 1rem;
    margin-bottom: 2rem;
    column-gap: 1rem; }
    .mainindex__sec4 .mainindex__sec4__div1 p, .mainindex__sec4 .mainindex__sec4__div2 p, .mainindex__sec4 .mainindex__sec4__div3 p {
      grid-area: p; }
    .mainindex__sec4 .mainindex__sec4__div1 h3, .mainindex__sec4 .mainindex__sec4__div2 h3, .mainindex__sec4 .mainindex__sec4__div3 h3 {
      grid-area: h2;
      padding-top: 2rem; }
    .mainindex__sec4 .mainindex__sec4__div1 img, .mainindex__sec4 .mainindex__sec4__div2 img, .mainindex__sec4 .mainindex__sec4__div3 img {
      width: 100%;
      height: 18rem;
      grid-area: img; }
    .mainindex__sec4 .mainindex__sec4__div1 div, .mainindex__sec4 .mainindex__sec4__div2 div, .mainindex__sec4 .mainindex__sec4__div3 div {
      grid-area: b; }
  .mainindex__sec4m {
    display: none; } }

.body header nav .desk li, .body header nav .buscbot .buscbot__phone li {
  font-weight: bold;
  padding: 0.5rem;
  transition: 1s; }
  .body header nav .desk li:hover, .body header nav .buscbot .buscbot__phone li:hover {
    text-decoration: underline;
    transform: scale(1.2); }
  .body header nav .desk li #a, .body header nav .buscbot .buscbot__phone li #a {
    color: #dff6ff; }
    .body header nav .desk li #a img, .body header nav .buscbot .buscbot__phone li #a img {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem; }

.mainindex .mainindex__sec4 .mainindex__sec4__boton button, .mainindex__sec3 .mainindex__sec3__boton button, .mainindex__sec4m .mainindex__sec4m__boton button, .main .main__caja .main__caja__bot .reset, .main .main__caja .main__caja__bot .submit, .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo {
  border: 0.3rem solid #bad9e5;
  border-radius: 0.5rem; }

.mainindex .mainindex__sec4 .mainindex__sec4__boton, .mainindex__sec3 .mainindex__sec3__boton, .mainindex__sec4m .mainindex__sec4m__boton {
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;
  font-size: 1.5rem;
  transition: 1s;
  margin-bottom: 2rem; }
  .mainindex .mainindex__sec4 .mainindex__sec4__boton button, .mainindex__sec3 .mainindex__sec3__boton button, .mainindex__sec4m .mainindex__sec4m__boton button {
    border: 0.3rem solid #06283d;
    background-color: #dff6ff;
    transition: 1s; }
    .mainindex .mainindex__sec4 .mainindex__sec4__boton button:hover, .mainindex__sec3 .mainindex__sec3__boton button:hover, .mainindex__sec4m .mainindex__sec4m__boton button:hover {
      transform: scale(1.08); }
  .mainindex .mainindex__sec4 .mainindex__sec4__boton a, .mainindex__sec3 .mainindex__sec3__boton a, .mainindex__sec4m .mainindex__sec4m__boton a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #06283d;
    letter-spacing: 0.15rem;
    font-weight: bold;
    border: 0.3rem solid #bad9e5; }

.mainindex .mainindex__sec4 {
  display: none; }

.main .main__caja .main__caja__bot .reset, .main .main__caja .main__caja__bot .submit {
  background-color: #bad9e5;
  transition: 1s;
  font-family: Tiemann, serif;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  height: 2.25rem; }
  .main .main__caja .main__caja__bot .reset:hover, .main .main__caja .main__caja__bot .submit:hover {
    transform: scale(1.08); }

/* estilo de productos */
.contenedorpro {
  display: flex;
  flex-flow: column wrap; }

.contenedorpro__hijo {
  padding: 1rem 0rem;
  margin: 0rem 1rem;
  width: auto;
  text-align: center;
  border: 0.3rem solid #bad9e5;
  overflow: auto;
  transition: 1s;
  margin-top: 2rem; }
  .contenedorpro__hijo h2 {
    padding: 1rem; }
  .contenedorpro__hijo p {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 1rem; }
  .contenedorpro__hijo:hover {
    transform: scale(1.08); }
  .contenedorpro__hijo img {
    width: 66.6%;
    height: 12.5rem; }
  .contenedorpro__hijo span {
    padding: 0.5rem; }

/* estilos de la mediaquerie */
@media screen and (min-width: 576px) {
  /* estilos de Productos*/
  .contenedorpro {
    justify-content: center;
    flex-flow: row nowrap; } }

@media screen and (min-width: 576px) {
  .mainindex__sec4 .mainindex__sec4__div1, .mainindex__sec4 .mainindex__sec4__div2, .mainindex__sec4 .mainindex__sec4__div3 {
    row-gap: 1rem;
    margin-bottom: 2rem;
    column-gap: 1rem; }
    .mainindex__sec4 .mainindex__sec4__div1 p, .mainindex__sec4 .mainindex__sec4__div2 p, .mainindex__sec4 .mainindex__sec4__div3 p {
      grid-area: p; }
    .mainindex__sec4 .mainindex__sec4__div1 h3, .mainindex__sec4 .mainindex__sec4__div2 h3, .mainindex__sec4 .mainindex__sec4__div3 h3 {
      grid-area: h2;
      padding-top: 2rem; }
    .mainindex__sec4 .mainindex__sec4__div1 img, .mainindex__sec4 .mainindex__sec4__div2 img, .mainindex__sec4 .mainindex__sec4__div3 img {
      width: 100%;
      height: 18rem;
      grid-area: img; }
    .mainindex__sec4 .mainindex__sec4__div1 div, .mainindex__sec4 .mainindex__sec4__div2 div, .mainindex__sec4 .mainindex__sec4__div3 div {
      grid-area: b; }
  .mainindex__sec4m {
    display: none; } }

.body header nav .desk li, .body header nav .buscbot .buscbot__phone li {
  font-weight: bold;
  padding: 0.5rem;
  transition: 1s; }
  .body header nav .desk li:hover, .body header nav .buscbot .buscbot__phone li:hover {
    text-decoration: underline;
    transform: scale(1.2); }
  .body header nav .desk li #a, .body header nav .buscbot .buscbot__phone li #a {
    color: #dff6ff; }
    .body header nav .desk li #a img, .body header nav .buscbot .buscbot__phone li #a img {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem; }

.mainindex .mainindex__sec4 .mainindex__sec4__boton button, .mainindex__sec3 .mainindex__sec3__boton button, .mainindex__sec4m .mainindex__sec4m__boton button, .main .main__caja .main__caja__bot .reset, .main .main__caja .main__caja__bot .submit, .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo {
  border: 0.3rem solid #bad9e5;
  border-radius: 0.5rem; }

.mainindex .mainindex__sec4 .mainindex__sec4__boton, .mainindex__sec3 .mainindex__sec3__boton, .mainindex__sec4m .mainindex__sec4m__boton {
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;
  font-size: 1.5rem;
  transition: 1s;
  margin-bottom: 2rem; }
  .mainindex .mainindex__sec4 .mainindex__sec4__boton button, .mainindex__sec3 .mainindex__sec3__boton button, .mainindex__sec4m .mainindex__sec4m__boton button {
    border: 0.3rem solid #06283d;
    background-color: #dff6ff;
    transition: 1s; }
    .mainindex .mainindex__sec4 .mainindex__sec4__boton button:hover, .mainindex__sec3 .mainindex__sec3__boton button:hover, .mainindex__sec4m .mainindex__sec4m__boton button:hover {
      transform: scale(1.08); }
  .mainindex .mainindex__sec4 .mainindex__sec4__boton a, .mainindex__sec3 .mainindex__sec3__boton a, .mainindex__sec4m .mainindex__sec4m__boton a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #06283d;
    letter-spacing: 0.15rem;
    font-weight: bold;
    border: 0.3rem solid #bad9e5; }

.mainindex .mainindex__sec4 {
  display: none; }

.main .main__caja .main__caja__bot .reset, .main .main__caja .main__caja__bot .submit {
  background-color: #bad9e5;
  transition: 1s;
  font-family: Tiemann, serif;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  height: 2.25rem; }
  .main .main__caja .main__caja__bot .reset:hover, .main .main__caja .main__caja__bot .submit:hover {
    transform: scale(1.08); }

/* estilos del nav */
.body header nav {
  background-color: #47b5ff;
  text-align: center;
  text-transform: uppercase; }
  .body header nav .boton {
    background-color: #319fe7;
    width: 3rem;
    height: 2rem;
    border: 4px solid #bad9e5; }
    .body header nav .boton:active {
      transform: scale(1.2); }
    .body header nav .boton img {
      width: 2rem;
      height: 1rem;
      margin-bottom: 0.15rem; }
  .body header nav div a img {
    width: 8rem;
    height: 4rem; }
  .body header nav .buscbot {
    background-color: #47b5ff; }

/* estilos de la mediaquerie */
@media screen and (min-width: 576px) {
  /*estilos del nav*/
  #a {
    font-size: 1rem; }
  .body header .nav1 {
    height: 6rem; }
  .boton {
    display: none; } }

/* estilo del footer */
.footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  background-color: #06283d;
  padding: 1rem;
  margin-top: 1rem;
  color: white;
  gap: 0.6rem; }
  .footer .footer__subt {
    font-size: 1.5rem;
    font-weight: bold; }
  .footer div {
    margin-bottom: 1rem; }
    .footer div a {
      margin: 0.5rem; }

@media screen and (min-width: 576px) {
  .mainindex__sec4 .mainindex__sec4__div1, .mainindex__sec4 .mainindex__sec4__div2, .mainindex__sec4 .mainindex__sec4__div3 {
    row-gap: 1rem;
    margin-bottom: 2rem;
    column-gap: 1rem; }
    .mainindex__sec4 .mainindex__sec4__div1 p, .mainindex__sec4 .mainindex__sec4__div2 p, .mainindex__sec4 .mainindex__sec4__div3 p {
      grid-area: p; }
    .mainindex__sec4 .mainindex__sec4__div1 h3, .mainindex__sec4 .mainindex__sec4__div2 h3, .mainindex__sec4 .mainindex__sec4__div3 h3 {
      grid-area: h2;
      padding-top: 2rem; }
    .mainindex__sec4 .mainindex__sec4__div1 img, .mainindex__sec4 .mainindex__sec4__div2 img, .mainindex__sec4 .mainindex__sec4__div3 img {
      width: 100%;
      height: 18rem;
      grid-area: img; }
    .mainindex__sec4 .mainindex__sec4__div1 div, .mainindex__sec4 .mainindex__sec4__div2 div, .mainindex__sec4 .mainindex__sec4__div3 div {
      grid-area: b; }
  .mainindex__sec4m {
    display: none; } }

.body header nav .desk li, .body header nav .buscbot .buscbot__phone li {
  font-weight: bold;
  padding: 0.5rem;
  transition: 1s; }
  .body header nav .desk li:hover, .body header nav .buscbot .buscbot__phone li:hover {
    text-decoration: underline;
    transform: scale(1.2); }
  .body header nav .desk li #a, .body header nav .buscbot .buscbot__phone li #a {
    color: #dff6ff; }
    .body header nav .desk li #a img, .body header nav .buscbot .buscbot__phone li #a img {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem; }

.mainindex .mainindex__sec4 .mainindex__sec4__boton button, .mainindex__sec3 .mainindex__sec3__boton button, .mainindex__sec4m .mainindex__sec4m__boton button, .main .main__caja .main__caja__bot .reset, .main .main__caja .main__caja__bot .submit, .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo {
  border: 0.3rem solid #bad9e5;
  border-radius: 0.5rem; }

.mainindex .mainindex__sec4 .mainindex__sec4__boton, .mainindex__sec3 .mainindex__sec3__boton, .mainindex__sec4m .mainindex__sec4m__boton {
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;
  font-size: 1.5rem;
  transition: 1s;
  margin-bottom: 2rem; }
  .mainindex .mainindex__sec4 .mainindex__sec4__boton button, .mainindex__sec3 .mainindex__sec3__boton button, .mainindex__sec4m .mainindex__sec4m__boton button {
    border: 0.3rem solid #06283d;
    background-color: #dff6ff;
    transition: 1s; }
    .mainindex .mainindex__sec4 .mainindex__sec4__boton button:hover, .mainindex__sec3 .mainindex__sec3__boton button:hover, .mainindex__sec4m .mainindex__sec4m__boton button:hover {
      transform: scale(1.08); }
  .mainindex .mainindex__sec4 .mainindex__sec4__boton a, .mainindex__sec3 .mainindex__sec3__boton a, .mainindex__sec4m .mainindex__sec4m__boton a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #06283d;
    letter-spacing: 0.15rem;
    font-weight: bold;
    border: 0.3rem solid #bad9e5; }

.mainindex .mainindex__sec4 {
  display: none; }

.main .main__caja .main__caja__bot .reset, .main .main__caja .main__caja__bot .submit {
  background-color: #bad9e5;
  transition: 1s;
  font-family: Tiemann, serif;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  height: 2.25rem; }
  .main .main__caja .main__caja__bot .reset:hover, .main .main__caja .main__caja__bot .submit:hover {
    transform: scale(1.08); }

/*estilos del index*/
.mainindex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .mainindex .mainindex__sec1 {
    position: absolute;
    top: 5.65rem;
    left: 0;
    z-index: 1;
    width: 100%; }
    .mainindex .mainindex__sec1 .mainindex__sec1__video {
      width: 100%; }
  .mainindex .mainindex__sec2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
    height: 10rem;
    margin-bottom: 2rem; }
    .mainindex .mainindex__sec2 img {
      margin-top: 5rem;
      z-index: 2;
      width: 40%;
      height: 7rem; }
    .mainindex .mainindex__sec2 p {
      background: -webkit-linear-gradient(#dff6ff, white);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1rem;
      text-align: center;
      width: 100%;
      height: 5rem; }

.mainindex__sec3 h1 {
  font-size: 3rem;
  text-decoration: underline #319fe7;
  font-family: Tiemann, serif;
  text-align: center;
  padding: 1rem;
  margin: 3rem; }

.mainindex__sec3 .mainindex__sec3__contenedorpro {
  display: flex;
  justify-content: center;
  flex-flow: column wrap; }

.mainindex__sec3 .mainindex__sec3__contenedorpro__hijo {
  padding: 1rem 0rem;
  margin: 0rem 1rem;
  width: auto;
  text-align: center;
  overflow: auto;
  transition: 1s;
  margin-top: 2rem; }
  .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo p {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    line-height: 2rem;
    font-size: 1.125rem; }
    .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo p .s1 {
      text-decoration: line-through;
      opacity: 50%; }
  .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo:hover {
    transform: scale(1.08); }
  .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo img {
    width: 66.6%;
    height: 12.5rem; }
  .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo span {
    padding: 0.5rem;
    line-height: 2rem;
    font-size: 1.5rem; }

hr {
  margin: 0;
  margin-top: 6rem;
  margin-bottom: 6rem;
  width: 100%; }

.mainindex__sec4m h3 {
  font-size: 2.5rem;
  text-decoration: underline #319fe7;
  font-family: Tiemann, serif;
  text-align: center;
  margin-top: 2rem; }

.mainindex__sec4m h2 {
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-decoration: underline #319fe7;
  font-family: Tiemann, serif;
  text-align: center; }

.mainindex__sec4m img {
  height: 18rem; }

/* estilos de la mediaquerie */
@media screen and (min-width: 576px) {
  /*estilos de index*/
  .contenedorindex__logo {
    display: none; }
  .mainindex .mainindex__sec1 {
    position: absolute;
    top: 6rem; }
  .mainindex .mainindex__sec2 {
    height: 40rem;
    margin-bottom: 6rem; }
    .mainindex .mainindex__sec2 p {
      font-size: 1.25rem; }
    .mainindex .mainindex__sec2 img {
      width: auto;
      height: auto; }
  .mainindex__sec3 h1 {
    margin: 3rem;
    font-size: 4.5rem; }
  .mainindex__sec3 .mainindex__sec3__contenedorpro {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap; }
  .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo {
    width: 33.3%; }
  .mainindex__sec4 {
    width: 95%;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainindex__sec4 h2 {
      text-align: center;
      font-size: 4.25rem;
      text-decoration: underline #319fe7;
      font-family: Tiemann, serif; }
    .mainindex__sec4 .mainindex__sec4__div1 {
      margin-top: 7rem;
      width: 85%;
      display: grid;
      grid-template-columns: 42.5% 30% 32.5%;
      grid-template-areas: "img h2 b" "img p b"; }
      .mainindex__sec4 .mainindex__sec4__div1 p {
        line-height: 2rem;
        font-size: 1.125rem;
        text-align: left; }
      .mainindex__sec4 .mainindex__sec4__div1 h3 {
        text-align: left;
        font-size: 2.3rem;
        text-decoration: underline #319fe7;
        font-family: Tiemann, serif; }
    .mainindex__sec4 .mainindex__sec4__div2 {
      width: 80%;
      display: grid;
      grid-template-columns: 32.5% 25% 42.5%;
      grid-template-areas: "b h2 img" "b p img";
      margin-top: 13rem; }
      .mainindex__sec4 .mainindex__sec4__div2 p {
        line-height: 2rem;
        font-size: 1.125rem;
        text-align: right; }
      .mainindex__sec4 .mainindex__sec4__div2 h3 {
        text-align: right;
        font-size: 2.3rem;
        text-decoration: underline #319fe7;
        font-family: Tiemann, serif; }
    .mainindex__sec4 .mainindex__sec4__div3 {
      width: 85%;
      display: grid;
      grid-template-columns: 42.5% 30% 32.5%;
      grid-template-areas: "img h2 b" "img p b";
      margin-top: 13rem; }
      .mainindex__sec4 .mainindex__sec4__div3 p {
        line-height: 2rem;
        font-size: 1.125rem;
        text-align: left; }
      .mainindex__sec4 .mainindex__sec4__div3 h3 {
        text-align: left;
        font-size: 2.3rem;
        text-decoration: underline #319fe7;
        font-family: Tiemann, serif; }
  hr {
    margin-top: 8rem;
    margin-bottom: 8rem; } }

@media screen and (min-width: 576px) {
  .mainindex__sec4 .mainindex__sec4__div1, .mainindex__sec4 .mainindex__sec4__div2, .mainindex__sec4 .mainindex__sec4__div3 {
    row-gap: 1rem;
    margin-bottom: 2rem;
    column-gap: 1rem; }
    .mainindex__sec4 .mainindex__sec4__div1 p, .mainindex__sec4 .mainindex__sec4__div2 p, .mainindex__sec4 .mainindex__sec4__div3 p {
      grid-area: p; }
    .mainindex__sec4 .mainindex__sec4__div1 h3, .mainindex__sec4 .mainindex__sec4__div2 h3, .mainindex__sec4 .mainindex__sec4__div3 h3 {
      grid-area: h2;
      padding-top: 2rem; }
    .mainindex__sec4 .mainindex__sec4__div1 img, .mainindex__sec4 .mainindex__sec4__div2 img, .mainindex__sec4 .mainindex__sec4__div3 img {
      width: 100%;
      height: 18rem;
      grid-area: img; }
    .mainindex__sec4 .mainindex__sec4__div1 div, .mainindex__sec4 .mainindex__sec4__div2 div, .mainindex__sec4 .mainindex__sec4__div3 div {
      grid-area: b; }
  .mainindex__sec4m {
    display: none; } }

.body header nav .desk li, .body header nav .buscbot .buscbot__phone li {
  font-weight: bold;
  padding: 0.5rem;
  transition: 1s; }
  .body header nav .desk li:hover, .body header nav .buscbot .buscbot__phone li:hover {
    text-decoration: underline;
    transform: scale(1.2); }
  .body header nav .desk li #a, .body header nav .buscbot .buscbot__phone li #a {
    color: #dff6ff; }
    .body header nav .desk li #a img, .body header nav .buscbot .buscbot__phone li #a img {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem; }

.mainindex .mainindex__sec4 .mainindex__sec4__boton button, .mainindex__sec3 .mainindex__sec3__boton button, .mainindex__sec4m .mainindex__sec4m__boton button, .main .main__caja .main__caja__bot .reset, .main .main__caja .main__caja__bot .submit, .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo {
  border: 0.3rem solid #bad9e5;
  border-radius: 0.5rem; }

.mainindex .mainindex__sec4 .mainindex__sec4__boton, .mainindex__sec3 .mainindex__sec3__boton, .mainindex__sec4m .mainindex__sec4m__boton {
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;
  font-size: 1.5rem;
  transition: 1s;
  margin-bottom: 2rem; }
  .mainindex .mainindex__sec4 .mainindex__sec4__boton button, .mainindex__sec3 .mainindex__sec3__boton button, .mainindex__sec4m .mainindex__sec4m__boton button {
    border: 0.3rem solid #06283d;
    background-color: #dff6ff;
    transition: 1s; }
    .mainindex .mainindex__sec4 .mainindex__sec4__boton button:hover, .mainindex__sec3 .mainindex__sec3__boton button:hover, .mainindex__sec4m .mainindex__sec4m__boton button:hover {
      transform: scale(1.08); }
  .mainindex .mainindex__sec4 .mainindex__sec4__boton a, .mainindex__sec3 .mainindex__sec3__boton a, .mainindex__sec4m .mainindex__sec4m__boton a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #06283d;
    letter-spacing: 0.15rem;
    font-weight: bold;
    border: 0.3rem solid #bad9e5; }

.mainindex .mainindex__sec4 {
  display: none; }

.main .main__caja .main__caja__bot .reset, .main .main__caja .main__caja__bot .submit {
  background-color: #bad9e5;
  transition: 1s;
  font-family: Tiemann, serif;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  height: 2.25rem; }
  .main .main__caja .main__caja__bot .reset:hover, .main .main__caja .main__caja__bot .submit:hover {
    transform: scale(1.08); }

/*estilos de nos*/
.contenedornos {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .contenedornos .contenedornos__p2 {
    padding: 1rem;
    line-height: 2rem;
    font-size: 1.125rem;
    text-align: center; }
  .contenedornos .contenedornos__img {
    padding: 1rem;
    width: auto;
    height: 25rem; }
  .contenedornos .contenedornos__div__h1 {
    font-size: 2rem;
    padding: 1rem; }
  .contenedornos .contenedornos__div__p1 {
    display: none; }

/* estilos de la mediaquerie */
@media screen and (min-width: 576px) {
  /*estilos de nosotros*/
  .contenedornos {
    flex-direction: row-reverse;
    margin: 2rem; }
    .contenedornos .contenedornos__div {
      padding: 1rem;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-bottom: 2rem; }
    .contenedornos .contenedornos__div__h1 {
      padding-top: 3.4rem;
      font-size: 2.5rem; }
    .contenedornos .contenedornos__div__p1 {
      display: inline;
      line-height: 2rem;
      font-size: 1.125rem;
      text-align: center; } }

@media screen and (min-width: 576px) {
  .mainindex__sec4 .mainindex__sec4__div1, .mainindex__sec4 .mainindex__sec4__div2, .mainindex__sec4 .mainindex__sec4__div3 {
    row-gap: 1rem;
    margin-bottom: 2rem;
    column-gap: 1rem; }
    .mainindex__sec4 .mainindex__sec4__div1 p, .mainindex__sec4 .mainindex__sec4__div2 p, .mainindex__sec4 .mainindex__sec4__div3 p {
      grid-area: p; }
    .mainindex__sec4 .mainindex__sec4__div1 h3, .mainindex__sec4 .mainindex__sec4__div2 h3, .mainindex__sec4 .mainindex__sec4__div3 h3 {
      grid-area: h2;
      padding-top: 2rem; }
    .mainindex__sec4 .mainindex__sec4__div1 img, .mainindex__sec4 .mainindex__sec4__div2 img, .mainindex__sec4 .mainindex__sec4__div3 img {
      width: 100%;
      height: 18rem;
      grid-area: img; }
    .mainindex__sec4 .mainindex__sec4__div1 div, .mainindex__sec4 .mainindex__sec4__div2 div, .mainindex__sec4 .mainindex__sec4__div3 div {
      grid-area: b; }
  .mainindex__sec4m {
    display: none; } }

.body header nav .desk li, .body header nav .buscbot .buscbot__phone li {
  font-weight: bold;
  padding: 0.5rem;
  transition: 1s; }
  .body header nav .desk li:hover, .body header nav .buscbot .buscbot__phone li:hover {
    text-decoration: underline;
    transform: scale(1.2); }
  .body header nav .desk li #a, .body header nav .buscbot .buscbot__phone li #a {
    color: #dff6ff; }
    .body header nav .desk li #a img, .body header nav .buscbot .buscbot__phone li #a img {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem; }

.mainindex .mainindex__sec4 .mainindex__sec4__boton button, .mainindex__sec3 .mainindex__sec3__boton button, .mainindex__sec4m .mainindex__sec4m__boton button, .main .main__caja .main__caja__bot .reset, .main .main__caja .main__caja__bot .submit, .mainindex__sec3 .mainindex__sec3__contenedorpro__hijo {
  border: 0.3rem solid #bad9e5;
  border-radius: 0.5rem; }

.mainindex .mainindex__sec4 .mainindex__sec4__boton, .mainindex__sec3 .mainindex__sec3__boton, .mainindex__sec4m .mainindex__sec4m__boton {
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;
  font-size: 1.5rem;
  transition: 1s;
  margin-bottom: 2rem; }
  .mainindex .mainindex__sec4 .mainindex__sec4__boton button, .mainindex__sec3 .mainindex__sec3__boton button, .mainindex__sec4m .mainindex__sec4m__boton button {
    border: 0.3rem solid #06283d;
    background-color: #dff6ff;
    transition: 1s; }
    .mainindex .mainindex__sec4 .mainindex__sec4__boton button:hover, .mainindex__sec3 .mainindex__sec3__boton button:hover, .mainindex__sec4m .mainindex__sec4m__boton button:hover {
      transform: scale(1.08); }
  .mainindex .mainindex__sec4 .mainindex__sec4__boton a, .mainindex__sec3 .mainindex__sec3__boton a, .mainindex__sec4m .mainindex__sec4m__boton a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #06283d;
    letter-spacing: 0.15rem;
    font-weight: bold;
    border: 0.3rem solid #bad9e5; }

.mainindex .mainindex__sec4 {
  display: none; }

.main .main__caja .main__caja__bot .reset, .main .main__caja .main__caja__bot .submit {
  background-color: #bad9e5;
  transition: 1s;
  font-family: Tiemann, serif;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  height: 2.25rem; }
  .main .main__caja .main__caja__bot .reset:hover, .main .main__caja .main__caja__bot .submit:hover {
    transform: scale(1.08); }
