@media screen and (min-width: 600px) {
  .contenedorindex {
    display: grid;
    margin: 3rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-content: center; } }

.mainindex .mainindex__sec3 .mainindex__sec3__div1, .mainindex .mainindex__sec3 .mainindex__sec3__div2, .mainindex .mainindex__sec3 .mainindex__sec3__div3 {
  grid-template-rows: 40% 60%;
  row-gap: 1rem;
  margin-bottom: 2rem; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 p, .mainindex .mainindex__sec3 .mainindex__sec3__div2 p, .mainindex .mainindex__sec3 .mainindex__sec3__div3 p {
    grid-area: p; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 h1, .mainindex .mainindex__sec3 .mainindex__sec3__div2 h1, .mainindex .mainindex__sec3 .mainindex__sec3__div3 h1 {
    grid-area: h1; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 img, .mainindex .mainindex__sec3 .mainindex__sec3__div2 img, .mainindex .mainindex__sec3 .mainindex__sec3__div3 img {
    width: 30rem;
    grid-area: img; }

/*reset*/
* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box; }

/* estilo del body */
.body {
  background-color: #dff6ff;
  font-family: Futura,sans-serif;
  color: #06283d; }

/*estilo de contact*/
.main {
  display: flex;
  justify-content: center; }
  .main .main__caja {
    margin: 8rem;
    width: 40rem;
    height: auto;
    border: 0.25rem solid #bad9e5; }
    .main .main__caja div {
      margin: 2rem; }

@media screen and (min-width: 600px) {
  .contenedorindex {
    display: grid;
    margin: 3rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-content: center; } }

.mainindex .mainindex__sec3 .mainindex__sec3__div1, .mainindex .mainindex__sec3 .mainindex__sec3__div2, .mainindex .mainindex__sec3 .mainindex__sec3__div3 {
  grid-template-rows: 40% 60%;
  row-gap: 1rem;
  margin-bottom: 2rem; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 p, .mainindex .mainindex__sec3 .mainindex__sec3__div2 p, .mainindex .mainindex__sec3 .mainindex__sec3__div3 p {
    grid-area: p; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 h1, .mainindex .mainindex__sec3 .mainindex__sec3__div2 h1, .mainindex .mainindex__sec3 .mainindex__sec3__div3 h1 {
    grid-area: h1; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 img, .mainindex .mainindex__sec3 .mainindex__sec3__div2 img, .mainindex .mainindex__sec3 .mainindex__sec3__div3 img {
    width: 30rem;
    grid-area: img; }

/* estilo de productos */
.contenedorpro {
  display: flex;
  flex-flow: column wrap; }

.contenedorpro__hijo {
  padding: 1rem 0rem;
  margin: 0rem 1rem;
  width: auto;
  text-align: center;
  border: 0.3rem solid #bad9e5;
  overflow: auto;
  transition: 1s;
  margin-top: 2rem; }
  .contenedorpro__hijo h2 {
    padding: 1rem; }
  .contenedorpro__hijo p {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 1rem; }
  .contenedorpro__hijo:hover {
    transform: scale(1.08); }
  .contenedorpro__hijo img {
    width: 66.6%;
    height: 12.5rem; }
  .contenedorpro__hijo span {
    padding: 0.5rem; }

@media screen and (min-width: 600px) {
  .contenedorindex {
    display: grid;
    margin: 3rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-content: center; } }

.mainindex .mainindex__sec3 .mainindex__sec3__div1, .mainindex .mainindex__sec3 .mainindex__sec3__div2, .mainindex .mainindex__sec3 .mainindex__sec3__div3 {
  grid-template-rows: 40% 60%;
  row-gap: 1rem;
  margin-bottom: 2rem; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 p, .mainindex .mainindex__sec3 .mainindex__sec3__div2 p, .mainindex .mainindex__sec3 .mainindex__sec3__div3 p {
    grid-area: p; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 h1, .mainindex .mainindex__sec3 .mainindex__sec3__div2 h1, .mainindex .mainindex__sec3 .mainindex__sec3__div3 h1 {
    grid-area: h1; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 img, .mainindex .mainindex__sec3 .mainindex__sec3__div2 img, .mainindex .mainindex__sec3 .mainindex__sec3__div3 img {
    width: 30rem;
    grid-area: img; }

/* estilos del nav */
.body header nav {
  background-color: #47b5ff;
  text-align: center;
  height: auto;
  text-transform: uppercase; }
  .body header nav .boton {
    background-color: #319fe7;
    width: 2rem;
    height: 1rem;
    border: 2px solid #0f496d; }
  .body header nav ul li {
    font-weight: bold;
    padding: 1rem;
    transition: 1s; }
    .body header nav ul li:hover {
      text-decoration: underline;
      transform: scale(1.2); }
    .body header nav ul li #a {
      color: #dff6ff; }
  .body header nav div a img {
    width: 8rem;
    height: 4rem; }

/* estilo del footer */
.footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  background-color: #06283d;
  padding: 1rem;
  margin-top: 1rem;
  color: white;
  gap: 0.6rem; }
  .footer .footer__subt {
    font-size: 1.5rem;
    font-weight: bold; }
  .footer div {
    margin-bottom: 1rem; }
    .footer div a {
      margin: 0.5rem; }

/* estilos del h1 */
.body main p {
  line-height: 2rem;
  font-size: 1.125rem;
  text-align: center; }

.body main #h1 {
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
  text-decoration: underline #319fe7;
  font-family: Tiemann,serif; }

.body main #h2 {
  text-decoration: underline #319fe7;
  font-family: Tiemann,serif; }

.body main #h3 {
  margin-top: 2rem;
  text-decoration: underline #319fe7;
  font-family: Tiemann,serif; }

/* estilos de sedes */
section {
  margin: 0rem; }
  section div div {
    display: inline;
    text-align: center; }
    section div div h2 {
      padding-top: 1rem; }
    section div div p {
      display: none; }
    section div div hr {
      display: none; }
    section div div img {
      width: auto;
      height: 13.5rem; }

#p {
  margin: 0.5rem; }

@media screen and (min-width: 600px) {
  .contenedorindex {
    display: grid;
    margin: 3rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-content: center; } }

.mainindex .mainindex__sec3 .mainindex__sec3__div1, .mainindex .mainindex__sec3 .mainindex__sec3__div2, .mainindex .mainindex__sec3 .mainindex__sec3__div3 {
  grid-template-rows: 40% 60%;
  row-gap: 1rem;
  margin-bottom: 2rem; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 p, .mainindex .mainindex__sec3 .mainindex__sec3__div2 p, .mainindex .mainindex__sec3 .mainindex__sec3__div3 p {
    grid-area: p; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 h1, .mainindex .mainindex__sec3 .mainindex__sec3__div2 h1, .mainindex .mainindex__sec3 .mainindex__sec3__div3 h1 {
    grid-area: h1; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 img, .mainindex .mainindex__sec3 .mainindex__sec3__div2 img, .mainindex .mainindex__sec3 .mainindex__sec3__div3 img {
    width: 30rem;
    grid-area: img; }

/*estilos del index*/
.contenedorindex__logo {
  display: none; }

.mainindex {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .mainindex .mainindex__sec1 {
    position: absolute;
    top: 5.8rem;
    left: 0;
    z-index: 1;
    width: 100%; }
    .mainindex .mainindex__sec1 .mainindex__sec1__video {
      width: 100%; }
  .mainindex .mainindex__sec2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
    height: 40rem; }
  .mainindex .mainindex__sec3 {
    margin-top: 6rem; }
    .mainindex .mainindex__sec3 .mainindex__sec3__div1 {
      display: grid;
      grid-template-areas: "img h1" "img p"; }
    .mainindex .mainindex__sec3 .mainindex__sec3__div2 {
      display: grid;
      grid-template-areas: "h1 img" "p img"; }
    .mainindex .mainindex__sec3 .mainindex__sec3__div3 {
      display: grid;
      grid-template-areas: "img h1" "img p"; }

@media screen and (min-width: 600px) {
  .contenedorindex {
    display: grid;
    margin: 3rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-content: center; } }

.mainindex .mainindex__sec3 .mainindex__sec3__div1, .mainindex .mainindex__sec3 .mainindex__sec3__div2, .mainindex .mainindex__sec3 .mainindex__sec3__div3 {
  grid-template-rows: 40% 60%;
  row-gap: 1rem;
  margin-bottom: 2rem; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 p, .mainindex .mainindex__sec3 .mainindex__sec3__div2 p, .mainindex .mainindex__sec3 .mainindex__sec3__div3 p {
    grid-area: p; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 h1, .mainindex .mainindex__sec3 .mainindex__sec3__div2 h1, .mainindex .mainindex__sec3 .mainindex__sec3__div3 h1 {
    grid-area: h1; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 img, .mainindex .mainindex__sec3 .mainindex__sec3__div2 img, .mainindex .mainindex__sec3 .mainindex__sec3__div3 img {
    width: 30rem;
    grid-area: img; }

/*estilos de nos*/
.contenedornos {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .contenedornos .contenedornos__p2 {
    padding: 1rem;
    text-align: center; }
  .contenedornos .contenedornos__img {
    padding: 1rem;
    width: auto;
    height: 25rem; }
  .contenedornos .contenedornos__div__h1 {
    font-size: 2rem;
    padding: 1rem; }
  .contenedornos .contenedornos__div__p1 {
    display: none; }

@media screen and (min-width: 600px) {
  .contenedorindex {
    display: grid;
    margin: 3rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-content: center; } }

.mainindex .mainindex__sec3 .mainindex__sec3__div1, .mainindex .mainindex__sec3 .mainindex__sec3__div2, .mainindex .mainindex__sec3 .mainindex__sec3__div3 {
  grid-template-rows: 40% 60%;
  row-gap: 1rem;
  margin-bottom: 2rem; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 p, .mainindex .mainindex__sec3 .mainindex__sec3__div2 p, .mainindex .mainindex__sec3 .mainindex__sec3__div3 p {
    grid-area: p; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 h1, .mainindex .mainindex__sec3 .mainindex__sec3__div2 h1, .mainindex .mainindex__sec3 .mainindex__sec3__div3 h1 {
    grid-area: h1; }
  .mainindex .mainindex__sec3 .mainindex__sec3__div1 img, .mainindex .mainindex__sec3 .mainindex__sec3__div2 img, .mainindex .mainindex__sec3 .mainindex__sec3__div3 img {
    width: 30rem;
    grid-area: img; }

/* estilos de la mediaquerie */
@media screen and (min-width: 600px) {
  /* estilos de sedes*/
  /* estilos de Productos de mediaquerie*/
  .contenedorpro {
    justify-content: center;
    flex-flow: row nowrap; }
  .contenedorpro__hijo {
    width: 33.3%; }
  /* estilos del h1 */
  .body main h1 {
    font-size: 2.5rem; }
  /*estilos del nav*/
  #a {
    font-size: 1rem; }
  .body header nav {
    height: 5.8rem; }
  /*estilos de index*/
  .contenedorindex {
    grid-template-areas: "logo video" "h2 video" "p video"; }
    .contenedorindex .contenedorindex__logo {
      grid-area: logo;
      display: inline;
      padding: 0rem 1rem; }
      .contenedorindex .contenedorindex__logo img {
        width: 45%;
        height: 90%; }
    .contenedorindex .contenedorindex__video {
      grid-area: video;
      width: 100%;
      height: 100%; }
    .contenedorindex .contenedorindex__h2 {
      grid-area: h2;
      padding: 1rem; }
    .contenedorindex .contenedorindex__p {
      grid-area: p;
      padding: 1rem;
      display: inline; }
  .contenedorsed {
    width: 60%;
    height: 25rem;
    margin: 2rem; }
  /*estilos de nos*/
  .contenedornos {
    flex-direction: row-reverse;
    margin: 2rem; }
    .contenedornos .contenedornos__div {
      padding: 1rem;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-bottom: 2rem; }
    .contenedornos .contenedornos__div__h1 {
      padding-top: 3.4rem;
      font-size: 2.5rem; }
    .contenedornos .contenedornos__div__p1 {
      display: inline; } }
