// variables
@import"variables";
/* estilos del h1 */
.body main h1 {
    font-size: $medida-2;
    text-align: center;
    margin: $medida-2;
}
/*estilos de las imagenes*/
.body main img {
    height: 12.5rem;
    width: 18.75rem;
}