//variables
@import"variables";
@import"mixin";
@media screen and (min-width:600px) {
    %grid {
        display: grid;
        margin: 3rem;
        row-gap: $medida-1;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}
@media screen and (min-width:600px){%grid2 {
    row-gap: $medida-1;
    margin-bottom: $medida-2;
    column-gap: $medida-1;
    p {
        grid-area: p;
    }
    h3 {
        grid-area: h2;
        padding-top: $medida-2;
    }
    img {
        @include sizes(100%,18rem);
        grid-area: img;
    }
    div {
        grid-area: b;
    }
}}