/*variables*/
@import "variables";

/* estilos del nav */
.body header nav {
    display: block;
    text-align: end;
    background-color: $colorNav;

    ul li {
        font-weight: bold;
        padding: 1rem;
        transition: 1s;

        &:hover {
            text-decoration: underline;
            transform: scale(1.08);
        }
    }
    div a img{
        width: 100%;
        height: 4rem;
        margin-left: 10px;
    }
}