/*variables*/
@import "variables";

/* estilos del nav */
.body header nav {
    background-color: $colorNav;
    text-align: center;
    ul li {
        font-weight: bold;
        padding: 1rem;
        transition: 1s;
        &:hover {
            text-decoration: underline;
            transform: scale(1.08);
            color: $colorFondo;
        }
        a{
            color: $colorFondo;
        }
    }
    div{
        a img{
            width: 8rem;
            height: 4rem;
        }
    }
}