// variables y mixin
@import"../utillities/variables";
@import"../utillities/mixin";
@import"../utillities/listas";
/*estilo de contact*/
.main{
    display: flex;
    justify-content: center;
    .main__caja{
        margin: 8rem;
        @include sizes(40rem,auto);
        border: $medida-3 / 2 solid nth($colores,7);
        div{
            margin: $medida-2;
        }
    }
}





