// variables y mixin
@import"../utillities/variables";
@import"../utillities/mixin";
@import"../utillities/listas";
/* estilos del h1 */
.body main {
    p{
        line-height: $medida-2;
        font-size: $medida-1 + 0.125rem;
    }
    #h1 {
        font-size: $medida-2 * 1.5;
        margin: $medida-2;
        text-decoration: underline nth($colores, 5);
        font-family: Tiemann,serif;
        margin-bottom: $medida-1;
    }
    #h2{
        font-size: $medida-2 * 1.15;
        text-decoration: underline nth($colores, 5);
        font-family: Tiemann,serif;
        margin: $medida-2;
    }
    #h3{
        margin-top: $medida-2;
        text-decoration: underline nth($colores, 5);
        font-family: Tiemann,serif;
    }
}