/* estilo del footer */
.footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: nth($colores, 10);
    padding: $medida-1;
    margin-top: $medida-1;
    color: white;
    gap: 0.6rem;

    .footer__subt {
        font-family: Futura,sans-serif;
        font-size: $medida-2;
        font-weight: bold;
    }

    p {
        @extend %prol;
        font-size: $medida-1 + 0.125rem;
    }

    div {
        margin-bottom: $medida-1;

        a {
            margin: $medida-05;
        }
    }

    img {
        @include sizes($medida-2 + 0.125rem, $medida-2)
    }
}