// imports
@import"../utillities/variables";
@import"../utillities/mixin";
@import"../utillities/extend";

/*estilos del index*/
.contenedorindex__logo {
    display: none;
}
.mainindex {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .mainindex__sec1 {
        position: absolute;
        top: 5.8rem;
        left: 0;
        z-index: 1;
        width: 100%;

        .mainindex__sec1__video {
            width: 100%;
        }
    }

    .mainindex__sec2 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 2;
        height: 40rem;
        margin-bottom: 6rem;
    }

    .mainindex__sec3 {
        margin: $medida-1;
        margin-top: $medida-2 * 3;
        .mainindex__sec3__div1 {
            display: grid;
            grid-template-areas:
                "img h1"
                "img p";
            @extend %grid2;
        }

        .mainindex__sec3__div2 {
            display: grid;
            grid-template-areas:
                "h1 img"
                "p img";
            @extend %grid2;
        }

        .mainindex__sec3__div3 {
            display: grid;
            grid-template-areas:
                "img h1"
                "img p";
            @extend %grid2;
        }
    }

}