
/*estilos del index*/
.mainindex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .mainindex__sec1 {
        position: absolute;
        top: 5.65rem;
        left: 0;
        z-index: 1;
        width: 100%;
        .mainindex__sec1__video {
            width: 100%;
        }
    }
    .mainindex__sec2 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 2;
        height: 10rem;
        margin-bottom:$medida-2;
        img{
            margin-top: 5rem;
            z-index: 2;
            @include sizes(40%,7rem);
        }
        p {
            background: -webkit-linear-gradient(nth($colores, 3), nth($colores, 8));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: $medida-1;
            text-align: center;
            @include sizes(100%,5rem);
        }
    }
}
.mainindex__sec3 {
    h1 {
        @include h(3rem);
        padding: $medida-1;
        margin: 3rem;
    }

    .mainindex__sec3__contenedorpro {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
    }

    .mainindex__sec3__contenedorpro__hijo {
        margin-top: $medida-2;
        p {
            .s1 {
                text-decoration: line-through;
                opacity: 50%;
            }
        }
        span {
            padding: $medida-05;
            line-height: $medida-2;
            font-size: $medida-1 + $medida-05;
        }
        @extend %pro;
    }

    .mainindex__sec3__boton {
        @extend %boton
    }
}
hr {
    margin: 0;
    @include  tb(6rem,6rem);
    width:100%;
}
.mainindex__sec4m{
    .mainindex__sec4m__boton {
        @extend %boton;
    }
    h3{
        @include h($medida-2 + $medida-05);
        margin-top: $medida-2;
    }
    h2{
        margin-bottom: $medida-2 + $medida-1;
        @include h($medida-2 * 1.75);
    }
    img{
        height: 18rem;
    }
}
.mainindex__sec4{
    @extend %none;
    .mainindex__sec4__boton {
        @extend %boton;
    }
}
/* estilos de la mediaquerie */
@media screen and (min-width:576px) {
    /*estilos de index*/
    .contenedorindex__logo {
        display: none;
    }

    .mainindex {
        .mainindex__sec1 {
            position: absolute;
            top: 6rem;
        }

        .mainindex__sec2 {
            height: 40rem;

            p {
                font-size: $medida-1 + 0.25rem;
            }

            img {
                @include sizes(auto, auto);
            }

            margin-bottom: 6rem;
        }
    }

    .mainindex__sec3 {
        h1 {
            margin: 3rem;
            font-size: 4.5rem;
        }

        .mainindex__sec3__contenedorpro {
            display: flex;
            justify-content: center;
            flex-flow: row nowrap;
        }

        .mainindex__sec3__contenedorpro__hijo {
            width: 33.3%;
        }
    }

    .mainindex__sec4 {
        width: 95%;
        margin-bottom: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: center;
            font-size: 4.25rem;
            text-decoration: underline nth($colores, 5);
            font-family: Tiemann, serif;
        }

        .mainindex__sec4__div1 {
            margin-top: 7rem;
            width: 85%;
            display: grid;
            grid-template-columns: 42.5% 30% 32.5%;
            grid-template-areas:
                "img h2 b"
                "img p b";
            @extend %grid2;

            p {
                @include p(left);
            }

            h3 {
                text-align: left;
                font-size: $medida-2 * 1.15;
                text-decoration: underline nth($colores, 5);
                font-family: Tiemann, serif;
            }
        }

        .mainindex__sec4__div2 {
            width: 80%;
            display: grid;
            grid-template-columns: 32.5% 25% 42.5%;
            grid-template-areas:
                "b h2 img"
                "b p img";
            @extend %grid2;

            p {
                @include p(right);
            }

            h3 {
                text-align: right;
                font-size: $medida-2 * 1.15;
                text-decoration: underline nth($colores, 5);
                font-family: Tiemann, serif;
            }

            margin-top: 13rem;
        }

        .mainindex__sec4__div3 {
            width: 85%;
            display: grid;
            grid-template-columns: 42.5% 30% 32.5%;
            grid-template-areas:
                "img h2 b"
                "img p b";
            @extend %grid2;
            margin-top: 13rem;

            p {
                @include p(left);
            }

            h3 {
                text-align: left;
                font-size: $medida-2 * 1.15;
                text-decoration: underline nth($colores, 5);
                font-family: Tiemann, serif;
            }
        }
    }
    hr {
        @include  tb(8rem, 8rem);
    }
    .mainindex__sec4m {
        @extend %noned;
    }
}