//imports
@import"../utillities/variables";
@import"../utillities/extend";
@import"../utillities/mixin";
@import"../utillities/listas";

/* estilos de la mediaquerie */
@media screen and (min-width:576px) {

    /* estilos de sedes*/
    /* estilos de Productos de mediaquerie*/
    .contenedorpro {
        justify-content: center;
        flex-flow: row nowrap;
    }

    .contenedorpro__hijo {
        width: 33.3%;
    }

    /*estilos del nav*/
    #a {
        font-size: $medida-1;
    }

    .body header .nav1 {
        height: 6rem;
    }


    .boton {
        display: none;
    }

    /*estilos de index*/
    .contenedorindex__logo {
        display: none;
    }

    .mainindex {
        .mainindex__sec1 {
            position: absolute;
            top: 6rem;
        }

        .mainindex__sec2 {
            height: 40rem;

            p {
                font-size: $medida-1 + 0.25rem;
            }

            img {
                @include sizes(auto, auto);
            }

            margin-bottom: 6rem;
        }
    }

    .mainindex__sec3 {
        h1 {
            margin: 3rem;
            font-size: 4.5rem;
        }

        .mainindex__sec3__contenedorpro {
            display: flex;
            justify-content: center;
            flex-flow: row nowrap;
        }

        .mainindex__sec3__contenedorpro__hijo {
            width: 33.3%;
        }
    }

    .mainindex__sec4 {
        width: 95%;
        margin-bottom: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: center;
            font-size: 4.25rem;
            text-decoration: underline nth($colores, 5);
            font-family: Tiemann, serif;
        }

        .mainindex__sec4__div1 {
            margin-top: 7rem;
            width: 85%;
            display: grid;
            grid-template-columns: 42.5% 30% 32.5%;
            grid-template-areas:
                "img h2 b"
                "img p b";
            @extend %grid2;

            p {
                @include p(left);
            }

            h3 {
                text-align: left;
                font-size: $medida-2 * 1.15;
                text-decoration: underline nth($colores, 5);
                font-family: Tiemann, serif;
            }
        }

        .mainindex__sec4__div2 {
            width: 80%;
            display: grid;
            grid-template-columns: 32.5% 25% 42.5%;
            grid-template-areas:
                "b h2 img"
                "b p img";
            @extend %grid2;

            p {
                @include p(right);
            }

            h3 {
                text-align: right;
                font-size: $medida-2 * 1.15;
                text-decoration: underline nth($colores, 5);
                font-family: Tiemann, serif;
            }

            margin-top: 13rem;
        }

        .mainindex__sec4__div3 {
            width: 85%;
            display: grid;
            grid-template-columns: 42.5% 30% 32.5%;
            grid-template-areas:
                "img h2 b"
                "img p b";
            @extend %grid2;
            margin-top: 13rem;

            p {
                @include p(left);
            }

            h3 {
                text-align: left;
                font-size: $medida-2 * 1.15;
                text-decoration: underline nth($colores, 5);
                font-family: Tiemann, serif;
            }
        }
    }

    hr {
        @include  tb(8rem, 8rem)
    }

    .mainindex__sec4m {
        @extend %noned
    }

    /*estilos de nos*/
    .contenedornos {
        flex-direction: row-reverse;
        margin: $medida-2;

        .contenedornos__div {
            padding: $medida-1;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-bottom: $medida-2;
        }

        .contenedornos__div__h1 {
            padding-top: $medida-2 * 1.7;
            font-size: $medida-2 + $medida-05;
        }

        .contenedornos__div__p1 {
            display: inline;
            @include p(center);
        }
    }
}