//imports
@import"../utillities/variables";
@import"../utillities/extend";
@import"../utillities/mixin";
@import"../utillities/listas";
/* estilos de la mediaquerie */
@media screen and (min-width:600px) {

    /* estilos de sedes*/
    
    /* estilos de Productos de mediaquerie*/

    .contenedorpro {
        justify-content: center;
        flex-flow: row nowrap;
    }

    .contenedorpro__hijo {
        width: 33.3%;
    }

    /* estilos del h1 */
    body main h1 {
        font-size: $medida-2 + 1rem;
    }
    /*estilos del nav*/
    #a{
        font-size: $medida-1;
    }
    #ul{
        padding-left: 8rem;
    }
    .body header nav {
        height: 5.8rem;
    }

    /*estilos de index*/

    .contenedorindex{
    @extend %grid;
    grid-template-areas: 
    "logo video"
    "h2 video"
    "p video";
    .contenedorindex__logo{
        grid-area: logo;
        display: inline;
        padding: 0rem $medida-1;
        img{
            @include sizes(45%,90%);
        }
    }
    .contenedorindex__video{
        grid-area: video;
        @include sizes(100%,100%);
    }   
    .contenedorindex__h2{
        grid-area: h2;
        padding: $medida-1;
    }
    .contenedorindex__p{
        grid-area: p;
        padding: $medida-1;
        display: inline;
    }
    }
    /*estilos de nos*/
    .contenedornos{
        flex-direction: row-reverse;
        margin: $medida-2;
        .contenedornos__div{
            padding: $medida-1;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-bottom: $medida-2;
        }
        .contenedornos__div__h1{
            padding-top: $medida-2*1.7;
        }
        .contenedornos__div__p1{
            display: inline;
        }
    }
}