/*estilos de proyectos*/
.mainproy {
    h1 {
        margin-top: $medida-2;
        @include h($medida-3);
    }

    .mainproy__sec {
        margin: $medida-3;
        display: grid;
        grid-template-areas:
            "img"
            "h2"
            "p";

        img {
            grid-area: img;
            padding: $medida-2;
            @include sizes(21rem, 16rem);
        }

        h2 {
            grid-area: h2;
            text-align: center;
            @include h($medida-2);
            padding: 0rem $medida-05;
        }

        p {
            grid-area: p;
            padding: $medida-2;
            @include p(center);
            text-align: left;
        }
        .mainproy__sec__span{
            display: none;
        }
        border: $medida-05 inset nth($colores, 7);
        border-radius: $medida-1 0rem $medida-1 0rem;
    }

}
/* estilos de la mediaquerie */
@media screen and (min-width:576px) {
    .mainproy {
      h1{
        font-size: $medida-3 + $medida-05;
      }  
        .mainproy__sec {
            grid-template-areas:
            "img h2"
            "img p";
            h2{
                font-size: $medida-2 +$medida-05;
                margin-top: $medida-1 + $medida-05;
            }
            p{
                text-align: center;
                margin-bottom: $medida-1;
            }
            .mainproy__sec__span{
                display: inline;
            }
            img {
                @include sizes(30rem, 20rem);
            }
        }
    }
}