//imports
@import"../utillities/variables";
@import"../utillities/mixin";
/* estilos de sedes */
section{
    margin: 0rem;
    div div {
        display: inline;
        text-align: center;
        h2{
            padding-top: $medida-1;
        }
        p{
            display: none;
        }
        hr{
            display: none;
        }
        img{
            @include sizes(auto,13.5rem);
        }
    }
}
#p{
    margin: $medida-3;
}